@media all and (max-width:670px){
    
    .header-center{
       margin-left: 0%;
    }

    .paletteimg{
        height: 50px;
        width: 100px;
        opacity: 0.8;
        color: black;
        line-height: 50px;
        font-family: Arial Black;
    }
    
   

    .top{
        width: 90%;
        margin: 100px auto;
        background-image: url(4580302_l.jpg);
        background-size: cover;
    }


    .newContents span{
        color: black;
        font-size: 25px;
    }
    



}
