body{
    font-family: "Hiragino Kaku Gothic ProN";
}

header{
    background-color: rgba(100, 85, 85, 0.5);
    width: 100%;
    height: 50px;
    position: fixed;
    top:0;
    z-index: 10;
    

}
.header-center{
    margin: auto;
    width: 10%;
}

.header-right{
    float: right;
    display: block;
}

.twitter{
    height: 50px;
    width:50px;
    margin-right:15px; 
}

.main{
    margin-left: 50px;
}

a:hover{
    opacity: 0.5;
}


.title{
    text-align: center;
    margin-top: 100px;
}

.top{
    margin: 70px 80px 0 0;
    background-image: url(4580302_l.jpg);
    background-size: cover;
}

.newContents span{
    color: black;
    font-size: 30px;
}





@media(max-width:450px){
    .main{
        margin:auto;
    }

    .top{
        margin: 70px 10px 0 0;
    }





}






