body{
    font-family: "Hiragino Kaku Gothic ProN";
}

header{
    background-color: rgba(100, 85, 85, 0.5);
    font-size: 30px;
    color:black;
    font-family:MS PGothic;
    font-weight: 600;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 10;

}
.header-left{
    float:left;
    line-height:50px;
}

.header-right{
    float:right;
}

.twitter{
    height: 50px;
    width:50px;
    margin-right:15px; 
}

.main{
    margin-left: 50px; ;
}

a:hover{
    opacity: 0.5;
}


.title{
    text-align: center;
    margin-top: 100px;
}

.top{
    margin-top: 50px;
    background-image: url(https://thumb.photo-ac.com/68/68a5a62d9cd73436e663fb614c18ac03_w.jpeg);
    background-size: cover;
}

.img{
position: relative;
}



.newContents span{
    color: chocolate;
    font-size: 30px;
}





@media(max-width:450px){
    .main{
        margin-left: 25px;
    }





}


